<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/css/bootstrap.css"
          asp-href-exclude="/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <title>Furnitsales</title>
</head>
<body>
        <div class="col-9">
            @RenderBody()
        </div>
</body>
</html>